<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jetictors.example.mybatis.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.jetictors.example.mybatis.model.User">
        <result column="userId" property="userId"/>
        <result column="userName" property="userName" />
        <result column="pwd" property="pwd" />
        <result column="nickName" property="nickName" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
    </resultMap>

    <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from user where userId = ${userId}
    </select>

    <select id="getUserList" resultMap="BaseResultMap">
        select * from user
    </select>

</mapper>